// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.edit-question, .hide{
  display: none;
}

.edit-question {
  width: 50%;
}

.question-item {
    padding: 5px;
    font-family: 'source_sans_proregular',Helvetica,Arial,sans-serif;
    
    font-weight: normal;
    color: #013763;
    
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 14px;
    }
  }

div.question-links{
  p{
    display: inline-block;
    margin-right: 10px;
    font-size: 12px
  }
}